@font-face {
  font-family: "Samlip Basic";
  font-style: normal;
  font-weight: normal;
  src: url("AnyConv.com__SDSamliphopangcheTTFBasic.woff") format("woff");
}

@font-face {
  font-family: "Samlip Outline";
  font-style: normal;
  font-weight: normal;
  src: url("AnyConv.com__SDSamliphopangcheTTFOutline.woff") format("woff");
}