/* 전역 CSS 설정 */
/*  */
@charset 'utf-8';
/* 서체 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* reset */
html,body{position: relative; height: 100%;}
html{scroll-behavior: smooth;}
body {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  background: none repeat scroll 0 0 #fff;
  font-weight: 400;
  color: #212121;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
/* h1, h2, h3, h4, h5, h6, body, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {margin:0; padding:0;} */
li {list-style:none;}
a {text-decoration: none;}
a:link{color: #ffffff; text-decoration: none;}
a:visited{color: #ffffff; text-decoration: none;}
a:hover{color: #ffffff; text-decoration: none;}
*{
  box-sizing :border-box;
  padding: 0;
  margin: 0;
  
}
div{font-family: "Samlip Basic";}
/*  */
/*  */


/* 바디 */
/*  */
/* body {z-index: -2;} */


/* 헤더 */
/*  */
header {
  width: 1728px;
  height: 120px;
  margin: auto;
  border: 2px solid rgba(119, 119, 119, 0.25);
  background: rgba(250, 167, 167, 0.43);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  /* z-index: 1; */
}
header > #TimeBackground > .container-fluid > .row > div {
  display: flex;
  align-items: center;
}
header h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 12px;
  text-shadow: -1px 0px #807f7f, 0px 1px #807f7f, 1px 0px #807f7f, 0px -1px #807f7f;
}
header span {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-shadow: -1px 0px #666, 0px 1px #666, 1px 0px #666, 0px -1px #666;
}
#text-left {margin-left: 50px;}
/* 현재시간 오른쪽 정렬 */
header > #TimeBackground > .container-fluid > .row > .col:nth-child(4) {justify-content: flex-end;}
#text-right {margin-right: 50px;}
/*  */
/*  */


/* 시간에 따른 .Background 설정 */
/*  */

#TimeBackground {
  width: 1728px;
  height: 1117px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  background-size: cover;
  background-position: center center;
}

/* 오전 6시부터 14시까지의 Background 스타일 */
.Background-morning {background: url(/public/images/LunchBackground.gif),  no-repeat ;}

/* 오후 2시부터 10시까지의 Background 스타일 */
.Background {background: url(/public/images/BreakfastBackground.gif),  no-repeat ;}

/* 오후 10시부터 6시까지의 Background 스타일 */
.Background-night {background: url(/public/images/DinnerBackground.gif),  no-repeat ;}

/* 메인 (기본 폼) */
/*  */
main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 1728px;
  height: 1117px;
}

/*.Background {
   background: url(/public/images/RainyBackground.gif),  no-repeat ;
  background-size: cover;
  background-position: center center; 
  width: 1753.11px;
  height: 1117px;
  opacity: 0.5;
}*/

.Outline {
  width: 1678px;
  height: 959px;
  border-radius: 15px;
  border: 4px solid #C47E98;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Inline {
  width: 1628px;
  height: 900px;
  border: 4px solid #C47E98;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Start 부분 */
/*  */
.StartWrap{
  width: 800px;
  height: 800px;
  border-radius: 15px;
  border: 4px solid #C47E98;
  background: rgba(255, 235, 241, 0.80);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TitleWrap {
  margin-top:60px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TitleWrap > h1{
  color: #F5F5F5;
  font-size: 120px;
  text-shadow: -4px 0px #C47E98, 0px 4px #C47E98, 4px 0px #C47E98, 0px -4px #C47E98;
}
.TitleWrap > h2{
  color: #C47E98;
  font-size: 60px;
  text-shadow: -4px 0px #F5F5F5, 0px 4px #F5F5F5, 4px 0px #F5F5F5, 0px -4px #F5F5F5;
}
.TitleText{
  width: 663px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 4px solid #FFCECE;
  background: rgba(255, 255, 255, 0.80);
  margin: auto;
}
.TitleText>span{
  font-size: 50px;
}
.StartWrap button {
  width: 300px;
  height: 100px;
  margin-bottom: 60px;
  font-size: 80px;
  line-height: normal;
  font-family: SansSerifBldFLF;
  background: #ff8eb9;
  border: 4px solid #ff8eb9;
  opacity: 0.8;
}


/* DecidedWrab 부분 */
/*  */